---
layout : layouts/base.njk
---

<main class="main wrapper">
    <!-- Section One ---------------------------------->
    <section class="page-about--section-one main-section-one anim_items no_anim">
        <div class="page-about--content content-wrap">
            <div class="page-title">
                <img class="title-element anim_items" src="/icon/about_g.svg" alt="Element">
                <img class="title-text" src="/icon/aboutus.svg" alt="{{ title }}">
            </div>
            <div class="go-to-btn">
                <a class="mouse" href="#section_2" title="Go to Section Two"></a>
            </div>
        </div>
    </section>

    <!-- Section Two ---------------------------------->
    <section id="section_2" class="page-about--section-two">
        <div class="page-about--content content-wrap flex jb">
            <div class="page-about-text anim_items no_anim">
                {{ content | safe }}
            </div>
            <div class="page-about-element anim_items no_anim">
                <img src="/icon/peramon-yellow.gif" alt="{{ title }}">
            </div>
        </div>
    </section>
</main>