<!DOCTYPE html>
<html lang="ru">
<!-- Head -->
{% include "layouts/head.njk" %}

<body>
<!-- Header -->
{% include "layouts/header.njk" %}
{{ content | safe }}
<!-- Footer -->
{% include "layouts/footer.njk" %}
</body>
</html>