---
layout: layouts/base.njk
---
<h2>{{ title }}</h2>
<div><span>Date: {{ date }}</span></div>
<div><img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></div>
<div><p>{{ content | safe }}</p></div>